.login-container{
    background: rgb(85,83,129);
    background: linear-gradient(90deg, rgba(85,83,129,1) 0%, rgba(29,26,71,1) 100%);
    height: 100vh;
    padding: 30px;
}

.login-container .login-box{
    font-size: 0.8em;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    padding: 25px;
    color: white;
    margin: 30px;
}

.login-container .login-box .input-group{
    margin: 30px 0px;
}

.login-container .login-box .input-group label{
    display: block;
}

.login-container .login-box .input-group input{
    border: none;
    border-radius: 20px;
    background: none;
    border: 2px solid white;
    margin-top: 20px;
    padding: 10px;
    color: white;
    width: 100%;
    outline: none;
}

.login-container .login-box p a{
    color: #eb4d4b;
}

.login-container .login-box .submit-btn-container{
    text-align: center;
}

.login-container .login-box .submit-btn-container .submit{
    border: none;
    border-radius: 35px;
    background-color: #eb4d4b;
    color: white;
    padding: 10px 40px;
    font-size: 1.4em;
    letter-spacing: 2px;
    cursor: pointer;
}

.login-container .login-box .social-auth{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgba(255,255,255,0.8);
    margin-top: 30px;
    padding-top: 20px;
}

.login-container .login-box .social-auth a{
    color: white;
    font-size: 1.9em;
}

.login-container .login-image-container{
    display: flex;
    height: 100%;
}

.login-container .login-image-container img{
    width: 100%;
}